//Landing picture and header//
header {
  @include backgroundImg("../img/kaerMorhen.jpg", $backPos: center, $backRep: no-repeat, $backSize: auto);
  margin: $zero;
  padding: $zero;
  height: 100vh;
  width: auto;
  .continent {
    margin-top: 5%;
    @extend %centerimg;
    transform: rotate(40deg);
    height: 8%;
    -webkit-filter: brightness(0.45); filter: brightness(0.45);
  }
  p {
    @extend %center;
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 3px $black;
  }
  h1 {
    @extend %center;
    @include fontBasics("Morpheus", $color: white, $font-size: 6em);
    text-shadow: 1px 1px 3px $black;
    position: relative;
    bottom: .75em;
  }
}
section {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  width: 100%;

  .trip {
    display: flex;
    flex: 1 300px;
    justify-content: center;
  }
  .trip1 {
    @include backgroundImg("../img/horseTrips.jpg", $backPos: center, $backRep: no-repeat, $backSize: cover);
    @extend %relative100Center;
    flex-grow: 60;
  }
  .trip2 {
    @include backgroundImg("../img/contractTrips.jpg", $backPos: center, $backRep: no-repeat, $backSize: cover);
    @extend %relative100Center;
  }
  .trip3 {
    @include backgroundImg("../img/marketTrips.jpg", $backPos: center, $backRep: no-repeat, $backSize: cover);
    @extend %relative100Center;
  }

}
.section2 {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  width: 100vw;

  .trip {
    display: flex;
    flex: 1 300px;
    justify-content: center;
  }

  .trip4 {
    @include backgroundImg("../img/cultureTrips.jpg", $backPos: center, $backRep: no-repeat, $backSize: cover);
    @extend %relative100Center;
  }
  .trip5 {
    @include backgroundImg("../img/customTrips.jpg", $backPos: center, $backRep: no-repeat, $backSize: cover);
    @extend %relative100Center;
  }
  .trip6 {
    @include backgroundImg("../img/photographyTrips.jpg", $backPos: center, $backRep: no-repeat, $backSize: cover);
    @extend %relative100Center;
    flex-grow: 60;
  }

}

aside {
  @include backgroundImg("../img/witcherSword.png", $backPos: center, $backRep: no-repeat, $backSize: cover);
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 100vh;
  width: 100%;
  h3 {
    color: darken($white, 25%);
    font-size: 1.5em;
    margin: $zero;
  }
  h1 {
  @include fontBasics("Morpheus", $color: white, $font-size: 4em);
  margin: $zero;
  }
  p {
    margin-top: 2em;
    color: $white;
    font-size: 1.3em;
    width: 50%;
  }
  a {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    font-size: 2em;
    width: 20%;
    border-bottom: 1px dashed $black;
    margin-left: 8em;
  }
}
