//Top Nav Bar //

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  font-weight: bold;
  text-shadow: 1px 1px 2px white;
  ul {
    list-style: none;
    margin-top: 6.5%;

    li {
        font-size: 1.2em;
        display: inline-flex;
        padding-left: 10px;
        padding-right: 1.75em;
        position: relative;
        margin-right: 5px;
        &:first-child {
          @include fontBasics("Morpheus", $font-size: 2.25em);
          margin-right: auto;
          padding-right: 5em;
          text-shadow: none;
          @media (max-width: 645px) {
            display:block;
            padding-right: $zero;
          }
        }
        &:hover {
          color: $browny;
        }
        &:nth-child(n+3):nth-child(-n+6):hover {
          @extend %hover;
          color: $browny;
          background-color: $charcoal;
          border-radius: 2px 2px 0 0;
          text-shadow: none;
        }
        //drop down stuff //
        .destinationDrop {
          @extend %dropDown;
          width: 160%;
          height: 197px;
        }
        .activitiesDrop {
          @extend %dropDown;
          width: 183%;
          height: 290px;
        }
        .contractDrop {
          @extend %dropDown;
          width: 153%;
          height: 188px;
        }
        .aboutDrop {
          @extend %dropDown;
          width: 200%;
          height: 189px;
        }
        p {
          @extend %dropDownP;
        }
        &:nth-child(3):hover .destinationDrop, &:nth-child(4):hover .activitiesDrop,
        &:nth-child(5):hover .contractDrop,
        &:nth-child(6):hover .aboutDrop {
          display: inline;
        }
        //Media Query//
        @media (max-width: 645px) {
          display: none;
        }
      }
  }
  img {
    height: 1em;
  }
  .hamburger {
    display: none;
    @media (max-width: 645px) {
      @include displayForm(block, $position: relative, $top: 45px);
      font-size: 2em;
    }
  }
}

//Bottom Nav Bar //
.nav2 {
  margin-bottom: 3em;
  background-color: $charcoal;
  color: darken($white, 30%);
  font-size: 20px;
  border: 1px solid $black;
  box-shadow: 3px 3px 2px $black;
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
  }
  li {
    display: inline;
    padding-left: 1em;
    &:first-child {
      font-weight: bold;
      color: $white;
    }
    &:nth-child(4) {
      padding-right: .7em;
    }
    &:nth-child(5) {
      color: $browny;
      &:hover {
        @extend %hover;
        color: $browny;
      }
    }
    &:last-child {
      margin-left: auto;
      padding-right: 1em;
    }
    &:hover {
      color: $white;
    }
  }
}
