%center {
  text-align: center;
}
%centerimg {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
%hover {
  cursor: pointer;
}

%relative100Center {
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
}
