// Colors //
$black: black;
$white: white;
$limegreen: #9cdb43;
$browny: #BC815E;
$charcoal: #343433;

// Functional Colors //


// Zero for Padding/Margins //
$zero: 0;

// Asset Paths //
$path-font: "../fonts";
$path-img: "../img";
